body {background-color: lightblue; font-weight: bold; font-family: Arial, Helvetica, sans-serif;}

h1{color: darkblue; text-decoration:underline; font-weight: bold; font-family: Arial, Helvetica, sans-serif;
}

h3{color:orange;font-family: 'Courier New', Courier, monospace;}