body{background-color: firebrick;}

h1{
    color:gold;
    text-align: center;
    font-size: 72px;
    font-weight:bold;
    font-style:italic;
    text-decoration:underline;
}

li{
    color:green;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}